Source: tangods-serialline
Section: python
Priority: optional
Maintainer: CI Bot <controls@cells.es>
Build-Depends: debhelper (>= 10), dh-python, python3-setuptools, python3-all, python3-serial, python3-tango, python3-gevent
Standards-Version: 4.5.1
Homepage: https://github.com/ALBA-Synchrotron/tango_serial
#Vcs-Browser: https://salsa.debian.org/debian/tango-serial
#Vcs-Git: https://salsa.debian.org/debian/tango-serial.git
#Testsuite: autopkgtest-pkg-python
Rules-Requires-Root: no

Package: python3-tangods-serialline
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-serial, python3-tango, python3-gevent
Suggests: python-tango-serial-doc
Description: ALBA Python 3 Serial device server for tango
 ALBA Python Serial device server for tango. with the aim to be API compatible
 with the C++ Tango Serial device server extending its functionality.
 This device server internally uses pyserial meaning that supports the same
 serial protocols, like rfc2217:// socket:// loop:// hwgrep:// spy:// alt://
 This package installs the library for Python 3.



Package: python-tangods-serialline-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: ALBA Python 3 Serial device server for tango documentation.
 ALBA Python Serial device server for tango documentation package. with the aim
 to be API compatible with the C++ Tango Serial device server extending its
 functionality.
 This device server internally uses pyserial meaning that supports the same
 serial protocols, like rfc2217:// socket:// loop:// hwgrep:// spy:// alt://
 This package installs the library for Python 3.
